@{
    ViewBag.Title = "MyOrder";
}

<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="form-main">
                        <div class="title">
                            <h3 style="color:#fd7e14;">Đơn Hàng của tôi</h3>
                        </div>
                        <div class="content" style="margin-top:35px">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <label>Đơn hàng: </label><span>#152529848</span><br />
                                    <label>Đặt Ngày: </label><span>14 thg 12 2020 18:49:43</span>
                                </div>
                                <div class="col-lg-6" style="text-align:right">
                                    <a href="#" style="color:lightseagreen">Quản Lý</a>
                                </div>
                                <div class="col-lg-12">
                                    <hr class="my--4" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-lg-1 col-12">
                                    <img src="~/Source/Images/si.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-lg-4">
                                    <label>Sản Phẩm: <span>Áo Thun Nam</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>SL: <span>10</span></label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Màu: <span>Xanh</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>Size: <span>40</span></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Tình Trạng: <span class="text-success">Giao Thành Công</span></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-lg-1 col-12">
                                    <img src="~/Source/Images/si2.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-lg-4">
                                    <label>Sản Phẩm: <span>Áo Thun Nam</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>SL: <span>10</span></label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Màu: <span>Xanh</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>Size: <span>40</span></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Tình Trạng: <span class="text-success">Chuyển Đơn Vị Vận Chuyển</span></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-lg-1 col-12">
                                    <img src="~/Source/Images/si1.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-lg-4">
                                    <label>Sản Phẩm: <span>Áo Thun Nam</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>SL: <span>10</span></label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Màu: <span>Xanh</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>Size: <span>40</span></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Tình Trạng: <span class="text-danger">Huỷ</span></label>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:35px"></div>
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <label>Đơn hàng: </label><span>#152529848</span><br />
                                    <label>Đặt Ngày: </label><span>14 thg 12 2020 18:49:43</span>
                                </div>
                                <div class="col-lg-6" style="text-align:right">
                                    <a href="#" style="color:lightseagreen">Quản Lý</a>
                                </div>
                                <div class="col-lg-12">
                                    <hr class="my--4" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-lg-1 col-12">
                                    <img src="~/Source/Images/si.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-lg-4">
                                    <label>Sản Phẩm: <span>Áo Thun Nam</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>SL: <span>10</span></label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Màu: <span>Xanh</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>Size: <span>40</span></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Tình Trạng: <span>Giao Thành Công</span></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-lg-1 col-12">
                                    <img src="~/Source/Images/si2.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-lg-4">
                                    <label>Sản Phẩm: <span>Áo Thun Nam</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>SL: <span>10</span></label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Màu: <span>Xanh</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>Size: <span>40</span></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Tình Trạng: <span>Giao Thành Công</span></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-lg-1 col-12">
                                    <img src="~/Source/Images/si1.jpg" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-lg-4">
                                    <label>Sản Phẩm: <span>Áo Thun Nam</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>SL: <span>10</span></label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Màu: <span>Xanh</span></label>
                                </div>
                                <div class="col-lg-1">
                                    <label>Size: <span>40</span></label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Tình Trạng: <span>Giao Thành Công</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        //hiden nav Product
        $('.all-category').hide();
    })
</script>